.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  gap: 20px;
}

.logo {
  flex-shrink: 0;
}

.header__nav-list {
  display: flex;
  column-gap: min(70px, 4vw);
}

.header__nav-link {
  font-size: clamp(1rem, 0.9102rem + 0.3883vw, 1.25rem);
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: var(--buttons-color);
}

.header__nav-link:focus-visible {
  outline: 2px solid var(--buttons-color);
}

.header__actions {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
